<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Join">
	<insert id="mbjoininsert"	parameterType="example.hoon.model.MbJoinDto">
		insert into khjoin (mail, pass, name, phone) values (#{mail}, #{pass}, #{name}, #{phone})
	</insert>
 	<select id="mblogin" parameterType="String" resultType="map">
		select mail, pass from khjoin where mail=#{mail}
	</select>

</mapper>